<template>
<div class="hello">
<h1> {{msg}} </h1>
<h2> Essential Links</h2>

<ul>
<li> <a href="https://vuejs.org" target="_blank">Core Docs </a></li>
<li> <a href="https://forum.vuejs.org" target="_blank">Forum </a></li>
<li> <a href="https://gitter.im/vuejs/vue" target="_blank">Gitter Chat </a></li>

<li> <a href="https://twitter.com/vuejs" target="_blank">Twitter</a></li>
<li> <a href="https://vuejs-templates.github.io/webpack/" target="_blank">Docs </a></li>
</ul>
<h2>Ecosystem</h2>
<ul>
<li> <a href="http://router.vuejs.org/" target="_blank">vue-router</a></li>
<li> <a href="http://vuex.vuejs.org/" target="_blank">vuex</a></i>
<li> <a href="http://vue-loader.vuejs.org/" target="_blank">vue-loader</a></li>
<li> <a href="https://github.com/vuejs/awesome-vue" target"_blank">awesome-vue</a></li>

</ul>
</div>
</template>

<script>
export default {
name: 'hello',
data () {
return {
msg: 'welcome to vue'
}
}
}
</script>

<style scoped>
h1, h2 {
font-weight: normal;
}
ul {
list-style-type: none;
padding: 0;
}

li {
display: inline-block;
margin: 0 10px;
}

a {
color: #42b983;
}
</style>
